numpy~=1.23.3
MedPy~=0.4.0
scipy~=1.9.1
pandas~=1.5.0
SimpleITK~=2.2.0
batchgenerators~=0.23
nibabel~=4.0.2
natsort~=8.2.0
argparse~=1.4.0
ctg-surface-distance~=0.1
openpyxl~=3.0.10
flatten-dict~=0.4.2
setuptools~=60.9.3
scikit-learn~=1.1.2